<h2>Welcome Admin: {{user.firstName}} {{user.lastName}}</h2>


<!-- User Profile pic will go here
<img src=""> -->
<img alt="..." src="/uploads/{{user.profilePic}}" style="width:160px;height:120px;">

<div>
    <a href="/task/list">Task Dashboard </a>
</div>